:root {
    --section-margin: 10px auto;
    --box-height: 60px;
    --box-width: 100px;
    --box-margin: 0;
    --side-padding: 10px;
    --border-size: 2px;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #02171b;
    margin: 0;
    padding: 20px;
}

.title {
    text-align: center;
    font-size: 32px;
    font-weight: 800;
    color: #14e6c8;
    text-shadow: 0 0 5px #14e6c8;
}

.section {
    width: 70%;
    margin: var(--section-margin);
    padding: var(--side-padding);
    border-radius: 10px;
    border: #14e6c8 dashed var(--border-size);
    background-color: #04323c;
}

.box {
    height: var(--box-height);
    width: var(--box-width);
    margin: var(--box-margin);
    border-radius: 5px;
    border: #14e6c8 dashed var(--border-size);
    background-color: #075364;
    color: #14e6c8;
}

.inset-box {
    width: calc(var(--box-width) * 2 + var(--side-padding) * 3 + var(--border-size) * 2);
    margin: 0;
    padding: var(--side-padding);
    border-radius: 5px;
    border: #14e6c8 dashed var(--border-size);
    background-color: #075364;
    color: #14e6c8;
}

.box--big {
    height: calc(var(--box-height) * 2 + var(--side-padding));
    width: var(--box-width);
}

.box--left {
    float: left;
    margin-right: var(--side-padding);
}

.box--right {
    float: right;
    margin-left: var(--side-padding);
}

.box--center {
    margin: auto;
}

.inset-box .box {
    margin: 0;
}

.inset-box .box--big {
    margin-right: var(--side-padding);
}

.inset-box .box--right+.box--right {
    margin-top: var(--side-padding);
}

.section:after,
.inset-box:after {
    content: "";
    display: table;
    clear: both;
}